body{
  padding-bottom: 5%;
  background-image: url("/pictures/bg.png");
  background-size: 100% 100%;
}

a {
  background-color: lightgrey;
  padding: 5%;
}

.table-inverse {
  color: #fff;
  background-color: #373a3c;
}

h2, h1
{
  width: auto;
}
