html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

button {
	font-size: small;
}

body {
	background-color: grey;
	font-size: small;
}

#quest {
	float: right;
	margin-right: 2%;
}

#select, #nameTxt, #upgrade, #feed, #buy, #attract, #scores, #animalsTxt{
	float: left;
}

#progress, #title, #level {
	padding-left: 5%;
}

#worldTxt, #help, #advancedSettings{
	float: right;
}

#animalTypeTxt, #stormlightTxt {
	padding-left: 5%;
	float: left;
}

#buy{
	font-size: large;
}
