html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

button{
	font-size: small;
}

body{
	background-color: grey;
	font-size: small;
}

#quest{
	float: right;
}

#scores{
	float: left;
}

#attract{
	float: left;
}

#buy{
	float: left;
}

#feed {
	float: left;
}

#upgrade {
	float: left;
}

#select {
	float: left;
}

#name{
	float: left;
}

#level{
	padding-left: 5%;
}

#progress
{
	padding-left: 5%;
}

#world{
	float: right;
}

#animalType{
	padding-left: 5%;
	float: left;
}

#animals{
	float: left;
}
#stormlight{
	padding-left: 5%;
	float: left;
}
#help{
	float: right;
}
