body{
	background-color: grey;
}

#attract{
	float: right;
	margin: 2%;
}

#buy{
	float: right;
	margin: 2%;
}

#name{
	float: left;
}
#world{
	float: right;
}

#animals{
	float: left;
}
#knights{
	padding-left: 5%;
	float: left;
}
#help{
	float: right;
	margin: 2%;
}
